@media all and (max-width:1366px) {

    /* .menu {
        position: relative;
        width: 100%;
    }

    .menu ul {
        padding: 0 15px;
        flex-direction: column;
        position: absolute;
        background-color: var(--secondary-color4);
        width: 100%;
        
    }

    .nav-btn {
        display: block;
    } */

    #about {
        background: url('../images/about-bg2.svg') no-repeat right center / contain, url('../images/about-bg1.svg') no-repeat 5% center / contain;
    }

    .payment-methods img {
        margin-right: 0px;
    }
}

@media all and (max-width:1200px) {
    .header-area {
        background: url(../images/banner-bg.svg) no-repeat scroll 100% 0 / 78%;
    }

    .banner-content ul {
        flex-direction: column;
        align-items: flex-start !important;
    }


    .header-area .banner-area .btn-2 {
        margin-bottom: 20px;
    }

    .table-head {
        flex-direction: column;
    }

    /* INTEGRATION PAGE */

    .integration-item {
        padding: 25px;
    }

    .integration-item h5 {
        font-size: 22px;
    }
}

@media all and (min-width:990px) {
    .menu {
        display: block !important;
    }
}

@media all and (max-width:990px) {

    .header-section {
        background: url(../images/background.png) no-repeat scroll top center / contain;
    }

    .header-area {
        background: none;
    }

    .menus {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        margin: auto;
        margin-top: 120px;
    }

    .menu {
        width: 100%;
        display: none;
        margin-top: 20px;
    }


    .menu ul {
        padding: 0px;
        flex-direction: column;
    }

    .mobile-menu-btn {
        display: block;
        display: flex;
        align-items: center;
    }

    .menu-btn {
        display: none;
    }

    .nav-btn {
        display: block;
    }

    .btn-1 {
        background-color: var(--primary-color1);
        color: var(--secondary-color4);
    }

    .header-area .banner-area .btn-2 {
        margin-bottom: 0px;
    }

    .banner-content ul {
        flex-direction: row;
    }

    .banner-content {
        margin-bottom: 40px;
    }

    .features-area {
        padding-bottom: 0;
    }

    #about {
        background: none;
        padding: 40px 0;
    }

    .work-area {
        padding: 120px 0;
    }

    .work-left .btn-1 {
        margin-bottom: 30px;
    }

    .pricing-heading {
        margin-bottom: 50px;
    }

    .table-head {
        flex-direction: row;
    }

    .newsletter-content {
        margin-bottom: 50px;
    }

    .blogs {
        padding-bottom: 70px;
    }

    .blog-item {
        margin-bottom: 30px;
    }

    #footer {
        padding-top: 90px;
    }

    .footer-area {
        justify-content: center;
        padding-bottom: 35px;
    }

    .footer-left {
        order: 3;
    }

    .footer-menu {
        order: 2;
        margin-bottom: 50px;
        text-align: center;
    }

    .footer-menu .f-menu {
        padding-right: 0;
    }

    .footer-download-area {
        order: 1;
    }

    .footer-left {
        text-align: center;
    }

    .footer-left p {
        margin: auto;
    }

    .footer-left ul li {
        justify-content: center;
    }

    .footer-download-area {
        margin-bottom: 50px;
    }

    .copyright-area,
    .copyright-area .icons {
        text-align: center !important;
    }

    .copyright-area p {
        margin-bottom: 20px;
        font-size: 16px;
    }

    /* ABOUT PAGE */
    .banner-img img {
        margin-bottom: 30px;
    }

    .count-box {
        padding: 20px 0;
    }

    .career-section .career-area {
        padding: 50px 0;
    }

    /* FEATURES PAGE */
    .features-home {
        padding-top: 70px;
    }

    .features-home .heading {
        padding-bottom: 70px;
    }

    .integration-section {
        padding-top: 60px;
    }

    /* SINGLE INTEGRATION */
    .single-integration-area {
        padding: 35px;
    }

    /* BLOG PAGE */

    .blog-p-area {
        padding-top: 100px;
    }

    .blog-p-items {
        padding-bottom: 0px;
        margin-bottom: 10px;
    }

    .blog-p-items .blog-item {
        margin-bottom: 20px;
    }

    /* SINGLE BLOG PAGE */
    .single-blog-details {
        border: none;
        padding-left: 0;
        margin-top: 20px;
    }

    .single-blog-content {
        padding: 100px 0;
    }

    /* Pricing Package */
    .package-table h2 {
        font-size: 25px;
    }

    .package-table tr span {
        font-size: 15px;
    }

}

@media all and (max-width:768px) {
    h1 {
        font-size: 55px;
    }

    h2 {
        font-size: 35px;
    }

    .blog-item h2 {
        font-size: 25px;
    }

    .work-smarter-tabs ul li button {
        font-size: 20px;
    }


}

@media all and (max-width:575px) {

    h3 {
        font-size: 22px;
    }

    h4 {
        font-size: 23px;
    }

    p {
        font-size: 18px;
    }

    .common-header-area .banner-area,
    .banner-area {
        padding-top: 50px;
    }

    .banner-content ul {
        flex-direction: column;
    }

    .header-area .banner-area .btn-2 {
        margin-bottom: 10px;
    }

    .testimonial-content p {
        font-size: 20px;
    }

    .table-pricing h2 {
        font-size: 30px;
    }

    .subscription-box form {
        flex-direction: column;
    }

    .subscription-box input[type="email"] {
        width: 80%;
        margin-bottom: 20px;
    }

    .table-pricing-btn {
        font-size: 15px;
    }

    .blog-item .blog-buttons .btn-2 {
        padding: 10px 25px;
        font-size: 15px;
    }

    /* ABOUT PAGE */
    .counter-area h3 {
        font-size: 22px;
    }

    .footer-left .contact a,
    .footer-menu .f-menu a {
        font-size: 18px;
    }

    /* Pricing Package */

    .table> :not(caption)>*>* {
        font-size: 11px;
    }

    .package-table h2 {
        font-size: 20px;
    }

    .package-table tr span {
        font-size: 12px;
    }


    .package-table .btn-2 {
        padding: 8px 10px;
        font-size: 11px;
    }
}

@media all and (max-width:450px) {
    h1 {
        font-size: 40px;
        line-height: 50px;
    }

    h2 {
        font-size: 25px;
    }

    p {
        font-size: 16px;
    }

    .btn-3 {
        font-size: 15px;
    }

    .subtitle {
        font-size: 15px;
        padding: 15px 30px;
    }

    .btn-2 {
        padding: 12px 30px;
        font-size: 15px;
    }

    .video-btn {
        font-size: 15px;
        padding-left: 20px;
    }

    .video-btn i {
        font-size: 35px;
    }

    .menus {
        margin-top: 200px;
    }

    .logo {
        flex-direction: column;
    }

    .logo img {
        margin-bottom: 20px;
    }

    .work-smarter-tabs ul li button {
        padding: 20px 40px;
        font-size: 15px;
    }

    .testimonial-content h4 {
        font-size: 30px;
    }

    .subscription-box input[type="email"] {
        padding: 10px 45px;
    }
}